/*
    klopaj.com  style.css - Here we'll put all additional CSS that is not related to bootstrap.
 */

@import url(/css/bootstrap-customization.css);

body {
    font-family: "Din Display Pro Regular", Verdana, sans-serif;
    font-size-adjust: 0.5;
    font-weight: normal;
    font-style: normal;
}

/* Main map style */
.mapContainer {
    margin-bottom: 15px;
    padding-top: 105px;
}

#navGmap {
    height: 320px;
}

#navGmap img {
    max-width: none;
}

#showHideMap {
    position: absolute;
    z-index: 999;
    bottom: -12px;
    right: 460px;
    width: 48px;
    background-color: #fff
}

.nav-login {
    background: url('/img/login-background.png') no-repeat left bottom;
    background-attachment: inherit;
    padding-top: 20px;
    height: 53px;
    margin-left: 1px !important;
}

.nav-register {
    background: url('/img/register-background.png') no-repeat left bottom;
    background-attachment: inherit;
    padding-top: 20px;
    height: 53px;
}

.nav-login a, .nav-register a {
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.logo-divider {
    height: 65px;
    padding-left: 40px;
}

.navigation-header {
    background: url('/img/navigation-background.png') repeat-x left bottom;
    background-attachment: inherit;
    height: 90px;
    left: 0;
    position: fixed;
    right: 0;
    top: -1px;
    z-index: 1000;
}

.map-nav-cuisine {
    background: url('/img/map-nav-cuisine.png') no-repeat left bottom;
    background-attachment: inherit;
    padding-top: 10px;
    height: 40px;
}

.map-nav-extra {
    background: url('/img/map-nav-extra.png') no-repeat left bottom;
    background-attachment: inherit;
    padding-top: 10px;
    height: 40px;
    margin-left: 1px !important;
}

.map-nav-cuisine a, .map-nav-extra a {
    text-transform: uppercase;
    font-size: 11px;
    color: #000000;
    margin-left: 8px;
    margin-bottom: 10px;
    text-decoration: none;
}

.mapOverlay {
    position: absolute;
    z-index: 999;
    left: 80px;
    background-color: rgb(255, 255, 255);
    width: 730px;
    top: -10px;
    padding-left: 10px;
}

#searchForm {
    margin: 0;
    padding-right: 5px;
}

.map-nav {
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

/* News feed */
.main-content {
    border: 1px solid #DAD3CC;
    padding: 10px;
}

.newsfeed-header {
    font-size: 19px;
    font-weight: bolder;
    min-height: 25px;
    border-bottom: 1px solid #DAD3CC;
    padding-top: 19px;
}

.newsfeed-row {
    font-size: 14px;
    min-height: 50px;
    border-bottom: 1px solid #DAD3CC;
    padding: 10px 0 10px 0;
}

.newsfeed-row-image {
    text-align: right;
    position: relative;
}

.newsfeed-row-image-plus-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.newsfeed-row-comment {
    background-color: #BDB9B3;
    width: 98%;
    min-height: 30px;
    padding-top: 10px;
    padding-left: 10px;

    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px
}

.newsfeed-row-datetime {
    text-align: right;
    font-size: 12px;
    color: #F04E23;
}

#loadingContainer {
    display: none;
    text-align: center;
    padding: 5px
}

/* Sidebar */
.sidebar-header {
    font-size: 19px;
    font-weight: bolder;
    text-transform: uppercase;
    min-height: 25px;
    border-bottom: 1px solid #DAD3CC;
    padding-top: 19px;
}

.sidebar-row {
    background-image: url('/img/sidebar-arrow.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
    font-size: 14px;
    min-height: 50px;
    border-bottom: 1px solid #DAD3CC;
}

.sidebar-row-image {
    padding-top: 10px
}

.sidebar-row-text-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-row-title {
    font-weight: bolder;
}

/* Poi/Tag page */
.middle-content {
    border-left: 1px solid #DAD3CC;
    padding-left: 12px;
}

.contact {
    background-repeat: no-repeat;
    line-height: 28px;
    padding-left: 28px;
    -o-text-overflow: ellipsis; /* Opera */
    text-overflow: ellipsis; /* IE, Safari (WebKit) */
    overflow: hidden; /* don't show excess chars */
    white-space: nowrap; /* force single line */
}

.address {
    background-image: url("/img/icon-home.png");
}

.phone {
    background-image: url("/img/icon-phone.png");
}

.email {
    background-image: url("/img/icon-email.png");
}

.tag {
    background-image: url("/img/icon-tags.png");
}

.like-text, .unlike-text {
    line-height: 50px;
}

.like-inactive, .unlike-inactive {
    opacity: 0.2;
}

.like-inactive:hover, .unlike-inactive:hover {
    opacity: 0.8;
}

.like-active, .unlike-active {
    opacity: 1;
}

.image-placeholder {
	margin: 0 auto;
}

.image-placeholder img {
	border: 5px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

.image-placeholder img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
}
