/*
    klopaj.com  style.css - Here we'll put all additional CSS that is not related to bootstrap.
 */

@import url(/css/bootstrap-customization.css);

/* Main map style */
.mapContainer {
    margin-bottom: 15px;
}
#navGmap {
    height: 320px;
}

#navGmap img {
    max-width: none;
}

#showHideMap {
    position: absolute;
    z-index: 999;
    bottom: -12px;
    right: 460px;
    width: 48px;
    background-color: #fff
}

/* News feed */
.main-content {
    border: 1px solid #DAD3CC;
    padding: 10px;
}
.newsfeed-header {
    font-size: 19px;
    font-weight: bolder;
    min-height: 25px;
    border-bottom: 1px solid #DAD3CC;
    padding-top: 19px;
}

.newsfeed-row {
    font-size: 14px;
    min-height: 50px;
    border-bottom: 1px solid #DAD3CC;
    padding:10px 0 10px 0;
}

.newsfeed-row-image {
    text-align: right;
    position: relative;
}

.newsfeed-row-image-plus-overlay {
    position:absolute;
    bottom: 0;
    right: 0;
    z-index:10;
}

.newsfeed-row-comment {
    background-color: #BDB9B3;
    width:98%;
    min-height: 30px;
    padding-top:10px;
    padding-left:10px;

    -webkit-border-radius:6px 6px 6px 6px;
    -moz-border-radius:6px 6px 6px 6px;
    border-radius:6px 6px 6px 6px
}

.newsfeed-row-datetime {
    text-align: right;
    font-size: 12px;
    color: #F04E23;
}

#loadingContainer {
    display:none; text-align: center; padding:5px
}

/* Sidebar */
.sidebar-header {
    font-size: 19px;
    font-weight: bolder;
    text-transform: uppercase;
    min-height: 25px;
    border-bottom: 1px solid #DAD3CC;
    padding-top: 19px;
}

.sidebar-row {
    background-image: url('/img/sidebar-arrow.png');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
    font-size: 14px;
    min-height: 50px;
    border-bottom: 1px solid #DAD3CC;
}

.sidebar-row-image {
    padding-top: 10px
}

.sidebar-row-text-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-row-title {
    font-weight: bolder;
}